{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@root": "./src",
      }
    }]
  ],
  "ignore": [
    "**/__tests__",
    "**/*.test.js",
  ]
}
